.grid-cities {
    text-align: center;
}

.row-cities {
    border: solid 1px #999999;
}

.row-button-cities {
    width: 100% !important;
    display: flex;
    justify-content: center;
}

h1{
    padding: 1rem;
}

.row-button-add-cities{
    display: flex;
    justify-content: end;
}

ion-content{
    --background: url(../../../assets/images/body.jpg) no-repeat center/cover fixed;
}
