ion-content {
    --background: url(../../../assets/images/body.jpg) no-repeat center/cover fixed;
}

.ion-card-home {
    margin-top: 12rem;
}

.ion-item-border-none {
    --border-color: transparent;
}

.ion-item-border {
    --border-color: #fff;
}

.transparent-color {
    --background: #1e1e1eb6 !important;
}
.transparent {
    --background: transparent !important;
}

.border-transparent {
    --border-color: transparent;
}
